<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">Step<span>In</span></div>
  
    <ul class="nav-links">
      <li class="dropdown">
        <i class='bx bx-menu' id="menu-icon"></i>
        <ul class="dropdown-menu" id="dropdown-menu">
          <li><a href="#" style="color: orange;">Home</a></li>
          <li><a href="/html/pastVideos.html">Videos</a></li>
          <li><a href="/html/about.html">About KTU</a></li>
          <li><a href="/html/FAQs.html">FAQs</a></li>
          <li><a href="/html/announcements.html">Announcements</a></li>
          <li><a href="/html/staff.html">Lecturers' Zone</a></li>
          <li><a href="/html/wifii.html">WiFi Passwords</a></li>
        </ul>
      </li>
  
      <li class="profile">
        <button><a href="profile.html"><i class='bx bx-user'></i></a></button>
      </li>
    </ul>
  </nav>
  